@use '../abstracts/variables.scss' as *;

@mixin btn-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
}

@mixin btn-icon-base {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@mixin icon-base {
  background-color: transparent;
}

@mixin icon-size($size) {
  @if $size == sm {
    width: clamp(1rem, 2vw, 1.29rem);
    height: clamp(1rem, 2vw, 1.29rem);
    font-size: clamp(1rem, 2vw, 1.29rem);
  } @else if $size == md {
    width: clamp(1.14rem, 2.5vw, 1.43rem);
    height: clamp(1.14rem, 2.5vw, 1.43rem);
    font-size: clamp(1.14rem, 2.5vw, 1.43rem);
  } @else if $size == lg {
    width: clamp(1.5rem, 4vw, 2rem);
    height: clamp(1.5rem, 4vw, 2rem);
    font-size: clamp(1.5rem, 4vw, 2rem);
  }
}

@mixin icon-normal {
  color: $base-darker;
}

@mixin icon-primary {
  color: $color-primary;
}

@mixin icon-white {
  color: white;
}

@mixin icon-accent {
  color: $accent-1;
}

@mixin btn-icon-size($size) {
  @if $size == sm {
    height: clamp(1.8rem, 4vw, 2rem);
    width: clamp(1.8rem, 4vw, 2rem);

    mat-icon {
      width: clamp(0.9rem, 2vw, 1.14rem);
      height: clamp(0.9rem, 2vw, 1.14rem);
      font-size: clamp(0.9rem, 2vw, 1.14rem);
    }
  } @else if $size == md {
    height: clamp(2.3rem, 5vw, 2.57rem);
    width: clamp(2.3rem, 5vw, 2.57rem);

    mat-icon {
      width: clamp(1.1rem, 2.5vw, 1.43rem);
      height: clamp(1.1rem, 2.5vw, 1.43rem);
      font-size: clamp(1.1rem, 2.5vw, 1.43rem);
    }
  } @else if $size == lg {
    height: clamp(2.8rem, 6vw, 3.14rem);
    width: clamp(2.8rem, 6vw, 3.14rem);

    mat-icon {
      width: clamp(1.35rem, 3vw, 1.71rem);
      height: clamp(1.35rem, 3vw, 1.71rem);
      font-size: clamp(1.35rem, 3vw, 1.71rem);
    }
  } @else if $size == xl {
    height: clamp(3.3rem, 7vw, 3.71rem);
    width: clamp(3.3rem, 7vw, 3.71rem);

    mat-icon {
      width: clamp(1.6rem, 3.5vw, 2rem);
      height: clamp(1.6rem, 3.5vw, 2rem);
      font-size: clamp(1.6rem, 3.5vw, 2rem);
    }
  }
}

@mixin btn-size($size) {
  @if $size == sm {
    height: clamp(1.8rem, 4vw, 2rem);
  } @else if $size == md {
    height: clamp(2.3rem, 5vw, 2.57rem);
  } @else if $size == lg {
    height: clamp(2.8rem, 6vw, 3.14rem);
  }
}

@mixin btn-normal {
  color: $font-dark;
  background: $base-darker;
}

@mixin btn-primary {
  color: white;
  background: $color-primary;
  font-weight: 600;
}

@mixin btn-accent {
  background: $accent-1;
  color: white;
  font-weight: 600;
}

@mixin btn-disabled {
  background-color: $disabled-light;
  pointer-events: none;
  color: $disabled-dark;
}
