@use '../abstracts/variables.scss' as *;

@mixin btn-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
}

@mixin btn-icon-base {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@mixin icon-base {
  background-color: transparent;
}

@mixin icon-size($size) {
  @if $size == sm {
    width: 1.29rem;
    height: 1.29rem;
    font-size: 1.29rem;
  } @else if $size == md {
    width: 1.43rem;
    height: 1.43rem;
    font-size: 1.43rem;
  } @else if $size == lg {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }
}

@mixin icon-normal {
  color: $base-darker;
}

@mixin icon-primary {
  color: $color-primary;
}

@mixin icon-white {
  color: white;
}

@mixin icon-accent {
  color: $accent-1;
}

@mixin btn-icon-size($size) {
  @if $size == sm {
    height: 2rem;
    width: 2rem;

    mat-icon {
      width: 1.14rem;
      height: 1.14rem;
      font-size: 1.14rem;
    }
  } @else if $size == md {
    height: 2.57rem;
    width: 2.57rem;

    mat-icon {
      width: 1.43rem;
      height: 1.43rem;
      font-size: 1.43rem;
    }
  } @else if $size == lg {
    height: 3.14rem;
    width: 3.14rem;

    mat-icon {
      width: 1.71rem;
      height: 1.71rem;
      font-size: 1.71rem;
    }
  } @else if $size == xl {
    height: 3.71rem;
    width: 3.71rem;

    mat-icon {
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }
  }
}

@mixin btn-size($size) {
  @if $size == sm {
    height: 2rem;
  } @else if $size == md {
    height: 2.57rem;
  } @else if $size == lg {
    height: 3.14rem;
  }
}

@mixin btn-normal {
  color: $font-dark;
  background: $base-darker;
}

@mixin btn-primary {
  color: white;
  background: $color-primary;
  font-weight: 600;
}

@mixin btn-accent {
  background: $accent-1;
  color: white;
  font-weight: 600;
}

@mixin btn-disabled {
  background-color: $disabled-light;
  pointer-events: none;
  color: $disabled-dark;
}
