@use '../../../styles/abstracts/variables.scss' as *;

form {
  background-color: $base;

  .question-header {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 10px 20px;

    span {
      font-weight: 600;
    }

    mat-form-field {
      flex: 1;
    }
  }

  .options {
    padding: 10px 20px 10px 50px;
  }

  .add-option {
    padding: 10px 20px 10px 50px;
    display: flex;
    align-items: center;
    gap: 5px;

    span{
      font-weight: 600;
    }

  }

  .conditions {
    padding: 15px 0 10px 20px;

    &-title {
      font-weight: 600;
    }

    .options {
      display: flex;
      gap: 10px;
      align-items: baseline;
    }
  }
}
