@use '../../../styles/abstracts/variables.scss' as *;

form {
  background-color: $base;

  .form-question-header {
    display: flex;
    align-items: center;
    gap: 0.71rem;
    padding: 0.71rem 1.43rem;

    span {
      font-weight: 600;
    }

    mat-form-field {
      flex: 1;
    }
  }

  .options {
    padding: 0.71rem 1.43rem 0.71rem 3.57rem;
  }

  .add-option {
    padding: 0.71rem 0.35rem;
    display: flex;
    align-items: center;
    gap: 0.71rem;

    span {
      font-weight: 600;
    }
  }

  .conditions {
    padding: 1.07rem 0 0.71rem 1.43rem;

    &-title {
      font-weight: 600;
    }

    .options {
      display: flex;
      flex-wrap: wrap;
      gap: 0.71rem;
      align-items: center;
    }
  }
}

@media (max-width: map-get($breakpoints, laptop)) {
  form {
    .options {
      margin-bottom: 2rem;
      padding-left: 2rem;
    }

    .conditions .options{
      gap: 1.5rem;
    }
  }
}
