<form [formGroup]="form">
  <div class="question" formGroupName="question">
    <div class="form-question-header">
      <span>{{ questionId }}</span>
      <mat-form-field>
        <input matInput placeholder="Question" formControlName="title" />
      </mat-form-field>
      <mat-icon>drag_indicator</mat-icon>
    </div>
    <div formArrayName="options" class="options">
      @for (option of options.controls; let i = $index; track i) {
      <app-option [type]="type" [formGroup]="option"></app-option>
      } @if (hasOptions(type)) {
      <div class="add-option">
        <mat-icon (click)="addOption()" class="icon--primary icon--lg cursor-pointer"
          >add_circle</mat-icon
        >
        <span>Add option</span>
      </div>

      }
    </div>
  </div>
  @if (hasOptions(type)) {
  <div class="conditions">
    <span class="conditions-title">Conditional logic</span>

    <div formArrayName="conditions">
      <div
        class="options"
        *ngFor="let group of conditions.controls; let i = index"
        [formGroupName]="i"
      >
        <span>If</span>

        <mat-form-field>
          <mat-select formControlName="answerId" placeholder="Select option">
            @for (option of getAvailableConditionOptions(i); track option) {
            <mat-option [value]="option">
              {{ option }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <span>then open</span>

        <mat-form-field>
          <mat-select formControlName="type" placeholder="Select" (selectionChange)="handleSelection(i)">
            <mat-option value="section">Section</mat-option>
            <mat-option value="question">Question</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="target" placeholder="Select">
            @for (item of getTargetsForCondition(i); track $index) {
            <mat-option [value]="item">
              {{ item }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>

        @if(isLast(i)){
        <mat-icon (click)="addCondition()" class="icon--primary icon--lg cursor-pointer"
          >add_circle</mat-icon
        >
        } @if(!isLast(i)){
        <mat-icon (click)="removeCondition(i)" class="icon--primary icon--lg cursor-pointer"
          >delete</mat-icon
        >
        }
      </div>
    </div>
  </div>
  }
</form>
