.context-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px #00000012;
}

.context-submenu {
  padding: 12px 8px;
  width: 186px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px #00000012;

  .submenu-option {
    display: flex;
    gap: 5px;
    padding: 6px 7px;
    transition: transform 150ms ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}