@use '@angular/material' as mat;
@use '../abstracts/variables.scss' as *;

.mat-mdc-checkbox-ripple,
.mdc-checkbox__ripple {
  display: none;
}

.mat-mdc-checkbox * {
  transition: none !important;
  animation: none !important;
}