@use '@angular/material' as mat;
@use '../abstracts/variables.scss' as *;
@use 'sass:map';

@include mat.expansion-overrides(
  (
    container-shape: 0,
    container-elevation-shadow: none,
    header-hover-state-layer-color: $base-2,
    header-focus-state-layer-color: $base-2,
    container-background-color: white,
  )
);

.mat-drawer {
  border-radius: 0 !important;
}

.mat-expansion-panel-header.mat-expanded {
  background-color: $base-2;

  &:focus,
  &:hover {
    background-color: $base-2 !important;
  }
}

.mat-expansion-panel,
.mat-expansion-panel-spacing {
  margin: 0 !important;
}

.mat-expansion-panel-header {
  min-height: 3.43rem !important;
  height: 3.43rem !important;
}

.mat-expansion-panel-header.mat-expanded {
  min-height: 3.43rem !important;
  height: 3.43rem !important;
}

@media (max-width: map.get($breakpoints, tablet)) {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }
}
