@use '@angular/material' as mat;
@use '../abstracts/variables.scss' as *;

@include mat.select-overrides(
  (
    panel-background-color: $base-darker,
    enabled-trigger-text-color: $font-dark,
    placeholder-text-color: $font-dark,
    focused-arrow-color: $font-dark,
  )
);

.mat-mdc-form-field .mdc-text-field--filled {
  background-color: transparent !important;
}

.mat-mdc-form-field.mat-form-field-animations-enabled .mdc-line-ripple::after {
  border-bottom-color: $font-dark !important;
}

.mat-mdc-form-field mat-label {
  color: $font-dark;
  line-height: 24px;
}

.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 4px 0 !important;
  min-height: 32px;
}

.mat-mdc-select-arrow svg {
  display: none;
}

.mat-mdc-select-arrow {
  position: relative;
}

.mat-mdc-select-arrow::after {
  content: 'keyboard_arrow_down';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.mdc-text-field--filled .mdc-text-field__input {
  color: $font-dark !important;
  line-height: 24px !important;
}

.mdc-text-field {
  padding: 0 5px !important;
}

.mat-mdc-form-field-subscript-wrapper{
  display: none;
}
