@use '@angular/material' as mat;
@use '../abstracts/variables.scss' as *;

.mat-mdc-radio-button * {
  transition: none !important;
  animation: none !important;
}

.mat-ripple .mat-radio-ripple,
.mat-focus-indicator,
.mdc-radio__background::before {
  display: none;
}
