@use '@angular/material' as mat;
@use '../abstracts/variables.scss' as *;

@include mat.select-overrides(
  (
    panel-background-color: $base,
    enabled-trigger-text-color: $font-dark,
    container-elevation-shadow: none,
    placeholder-text-color: $font-dark,
    focused-arrow-color: $font-dark,
  )
);

.mat-mdc-form-field .mdc-text-field--filled {
  background-color: transparent !important;
}

.mat-mdc-form-field.mat-form-field-animations-enabled .mdc-line-ripple::after {
  border-bottom-color: $font-dark !important;
}

.mat-mdc-form-field mat-label {
  color: $font-dark;
  line-height: 24px;
}

.mdc-text-field--no-label .mat-mdc-form-field-infix{
    padding: 4px 0 !important;
    min-height: 32px;
    
}