@use '../../../styles/abstracts/variables.scss' as *;

.header {
  background-color: $color-primary;
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1.15rem;

  span {
    color: white;
    font-weight: 600;
  }

  .header-title {
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.4rem);;
    line-height: 32px;
    text-indent: 1.43rem;
    letter-spacing: 0.25px;
  }

  .icons-container {
    display: flex;
    align-items: center;

    gap: clamp(0.6rem, 2vw, 1.4rem);

    #hr-text {
      font-size: clamp(1.1rem, 2.5vw, 1.5rem);
      line-height: 1.2;
    }
  }
}

.sidenav-container {
  height: calc(100vh - 55px);
  position: absolute;
  box-shadow: 0px 0px 30px 0px #0000000d;
  z-index: 10;

  top: 55px;

  .sidenav {
    background-color: white;
    color: $font-dark;

    .user-profile {
      display: flex;
      gap: 12px;
      padding: 1.43rem 0 15px 25px;
      background-color: $base-2;

      #avatar {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: $accent-1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.43rem;
        font-weight: 700;
        line-height: 1.2;
      }

      .summary {
        display: flex;
        flex-direction: column;

        #username {
          font-weight: 600;
          font-size: 1.29rem;
        }
      }
    }

    .nav-list {
      padding: 8px 10px 8px 0;

      .nav-item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 11px 25px;
      }

      .nav-item:hover {
        background-color: $base-2;
        border-radius: 0 56px 56px 0;
      }
    }
  }
}
