<mat-toolbar class="header">
  <button matIconButton class="icon-button" (click)="drawer.toggle()">
    <mat-icon class="header-icon">
      {{ drawer.opened ? 'menu_open' : 'menu' }}
    </mat-icon>
  </button>
  <span>Upitnik</span>

  <button matIconButton class="icon-button" style="pointer-events: none">
    <mat-icon class="header-icon">notifications_active</mat-icon>
  </button>

  <button matIconButton class="icon-button" style="pointer-events: none">
    <mat-icon class="header-icon">info</mat-icon>
  </button>

  <button matIconButton class="icon-button" style="pointer-events: none">
    <span>HR</span>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" class="sidenav">
    <div class="user-profile">
      <div id="avatar"><span>IP</span></div>
      <div class="summary">
        <span id="username">Marko Marković</span>
        <span id="role">Superadmin</span>
      </div>
    </div>
    <mat-nav-list class="nav-list">
      <a mat-list-item class="nav-item">
        <mat-icon class="nav-icon">sms_failed</mat-icon>
        <span> Prijave </span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon class="nav-icon">home</mat-icon>
        <span>Projekti</span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon class="nav-icon">bar_chart</mat-icon>
        <span> Analitika i detekcija </span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon class="nav-icon">assignment</mat-icon>
        <span> Izvještavanje </span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon class="nav-icon">group</mat-icon>
        <span> Administracija korisnika </span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon class="nav-icon">settings</mat-icon>
        <span>Postavke</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
