<mat-toolbar class="header">
  <mat-icon class="icon--lg icon--white cursor-pointer" (click)="drawer.toggle()">
    {{ drawer.opened ? 'segment' : 'menu' }}
  </mat-icon>
  <span class="header-title">{{headerText}}</span>
  <div class="icons-container">
    <mat-icon class="icon--lg icon--white">notifications_active</mat-icon>
    <mat-icon class="icon--lg icon--white">info</mat-icon>
    <span id="hr-text">HR</span>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" class="sidenav">
    <div class="user-profile">
      <div id="avatar"><span>IP</span></div>
      <div class="summary">
        <span id="username">Marko Marković</span>
        <span id="role">Superadmin</span>
      </div>
    </div>
    <mat-nav-list class="nav-list">
      <a mat-list-item class="nav-item">
        <mat-icon>feedback</mat-icon>
        <span> Prijave </span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon>holiday_village</mat-icon>
        <span>Projekti</span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon>equalizer</mat-icon>
        <span> Analitika i detekcija </span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon>assignment</mat-icon>
        <span> Izvještavanje </span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon>people_alt</mat-icon>
        <span> Administracija korisnika </span>
      </a>
      <a mat-list-item class="nav-item">
        <mat-icon>settings</mat-icon>
        <span>Postavke</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
