@use '../../../styles/abstracts/variables.scss' as *;

.header {
  background-color: $color-primary;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;

  span {
    color: white;
    font-weight: 600;
  }

  .header-title {
    width: 100%;

    font-size: 20px;
    line-height: 32px;
    text-indent: 20px;
    letter-spacing: 0.25px;
  }

  .icons-container {
    display: flex;
    gap: 20px;
    align-items: center;

    #hr-text {
      font-size: 22px;
    }
  }

  .icon-button {
    width: 48px;
    height: 48px;
    color: white;

    span {
      font-weight: 600;
      font-size: 22px;
    }
  }
}

.sidenav-container {
  height: calc(100vh - 55px);
  position: absolute;
  box-shadow: 0px 0px 30px 0px #0000000D;

  top: 55px;

  .sidenav {
    background-color: white;
    color: $font-dark;

    .user-profile {
      display: flex;
      gap: 12px;
      padding: 20px 0 15px 25px;
      background-color: $base-2;

      #avatar {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: $accent-1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
      }

      .summary {
        display: flex;
        flex-direction: column;

        #username {
          font-weight: 600;
          font-size: 18px;
        }
      }
    }

    .nav-list {
      padding: 8px 10px 8px 0;

      .nav-item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 11px 25px;
      }

      .nav-item:hover {
        background-color: $base-2;
        border-radius: 0 56px 56px 0;
      }
    }
  }
}
