@use '../../../../styles/abstracts/variables.scss' as *;

.option {
  display: flex;
  gap: 1.43rem;
  align-items: center;
  justify-content: space-between;

  > div {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    gap: 1.43rem;
    align-items: center;

    .comment-input,
    .label-input {
      display: flex;
      flex: 1 1 110px;
    }
  }
}

@media (max-width: map-get($breakpoints, laptop)) {
  .option {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 3rem;
  }
}
