@use '@angular/material' as mat;
@use './abstracts/variables.scss' as *;
@use './overrides/checkbox.scss' as *;
@use './overrides/radio.scss' as *;
@use './overrides/expansion.scss' as *;
@use './overrides/inputs.scss' as *;

@use './base/utilities.scss' as *;
@use './components/button' as *;
@use './components/checkbox' as *;
@use './materials/button' as *;
@use './materials/checkbox' as *;
@use './materials/radio' as *;
@use './components/radio' as *;

@include mat.core();

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        theme-type: light,
      ),
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  font-family: 'Open Sans';
  font-size: 14px;
  color: $font-dark;
  margin: 0;
  height: 100%;
}

