
$color-primary: #0F3BA2;

$font-dark:   #00002E;
$font-medium: #6C6C6C;
$font-light:  #FFFFFF;

$disabled-dark:  #A6A6A6;
$disabled-light: #E0E0E0;

$base:        #F5F5F5;
$base-darker: #EBEBEB;
$base-2:      #E3EBFF;
$base-2-dark: #E0E6F5;

$accent-1: #3874ED;
$accent-2: #FFE23F;
$accent-3: #FEA439;

$alert: #DF0000;

$overlay: rgba(0, 55, 105, 0.8);