@use '../../../styles/variables.scss' as *;

.play-button-container {
  margin-bottom: 15px;

  .play-button {
    margin-left: auto;
    background-color: $accent-1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    mat-icon {
      color: white;
      font-size: 24px;
    }
  }
}
