@use '../../../styles/variables.scss' as *;

.play-button-container {
  display: flex;
  justify-content: right;
  margin-bottom: 15px;
}

.play-button {
  background-color: $accent-1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.admin-page{
    background-color: white;
}
