@use '../styles/variables.scss' as *;

.main-layout {
  background-color: $base;
  min-height: 100vh;

  .main-content {
    padding: 65px 95px;
  }

  .stepper{
    text-align: right;
    font-size: 10px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}
