@use '../styles/abstracts/variables.scss' as *;

.main-layout {
  background-color: $base;
  min-height: 100vh;

  .main-content {
    padding: clamp(1.5rem, 5vw, 4.5rem) clamp(1.5rem, 7vw, 6.5rem);
  }
}
