@use '../../../styles/variables.scss' as *;

.panel-header {
  background-color: $base-2;

  &-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

    .section-number {
      background-color: $accent-1;
      color: white;
      padding: 2px 6px;
      font-weight: 600;
    }
  }
}

.questions-container {
  padding-top: 10px;
  padding-bottom: 15px;
}

.first-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 20px 0px #00000012;
  padding: 10px;

  mat-icon {
    color: $accent-1;
    font-size: 28px;
    width: 28px;
    height: 28px;
  }
}

.second-menu-container {
  box-shadow: 0px 0px 20px 0px #00000012;
  padding: 5px;
  width: 186px;

  .menu-option {
    padding: 6px 7px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
