@use '../../../styles/variables.scss' as *;

.panel-header {
  background-color: $base-2;

  &-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

    .section-number {
      background-color: $accent-1;
      color: white;
      padding: 2px 6px;
      font-weight: 600;
    }
  }
}

.questions-container {
  padding-top: 10px;
  padding-bottom: 15px;
}
