<div class="question">
  <div [appElementHeader]="!showFlag">
    <div class="element-header-container">
      <span class="element-number"> {{ question.questionId }}</span>
      <span class="element-title"> {{ question.label }}</span>
    </div>
  </div>

  @switch (question.type) { @case ('multiple') {
  <app-multiple-question
    [answers]="question.answers"
    [showFlag]="showFlag"
    (selected)="onAnswerChange($event)"
  >
  </app-multiple-question>
  } @case ('checkboxes') {
  <app-checkbox-question
    [answers]="question.answers"
    [showFlag]="showFlag"
    (selected)="onAnswerChange($event)"
  >
  </app-checkbox-question>
  } }
</div>
