<div class="question">
  <div [appElementHeader]="!showFlag">
    <div class="element-header-container">
      <span class="element-number"> {{ question.questionId }}</span>
      <span class="element-title"> {{ question.label }}</span>
    </div>
  </div>

  @switch (question.type) { @case ('multiple') {
  <app-single-answer
    [answers]="question.answers"
    [showFlag]="showFlag"
    (selected)="onAnswerChange($event)"
  >
  </app-single-answer>
  } @case ('checkboxes') {
  <app-multiple-answers
    [answers]="question.answers"
    [showFlag]="showFlag"
    (selected)="onAnswerChange($event)"
  >
  </app-multiple-answers>
  } }
</div>
