@use '../../../styles/variables.scss' as *;

.question {
  display: flex;
  flex-direction: column;

  .question-header {
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .question-number {
    font-weight: 600;
    padding: 2px 6px;
  }
}
