@use '../components/button' as btn;

$btn: '.mdc-button.mat-mdc-button-base.mat-mdc-unelevated-button';
$icon-btn: '.mdc-icon-button.mat-mdc-icon-button.mat-mdc-button-base';
$icon: '.mat-icon.material-icons';

//default
#{$btn} {
  @include btn.btn-base;
  @include btn.btn-size(md);
}

#{$icon-btn} {
  @include btn.btn-icon-base;
  @include btn.btn-icon-size(md);
}

#{$icon} {
  @include btn.icon-base;
  @include btn.icon-size(md);
}

//sizes

#{$btn} {
  &.btn--sm {
    @include btn.btn-size(sm);
  }
  &.btn--md {
    @include btn.btn-size(md);
  }
  &.btn--lg {
    @include btn.btn-size(lg);
  }
}

#{$icon-btn} {
  &.btn--sm {
    @include btn.btn-icon-size(sm);
  }
  &.btn--md {
    @include btn.btn-icon-size(md);
  }
  &.btn--lg {
    @include btn.btn-icon-size(lg);
  }
  &.btn--xl {
    @include btn.btn-icon-size(xl);
  }
}

#{$icon} {
  &.icon--sm {
    @include btn.icon-size(sm);
  }
  &.icon--md {
    @include btn.icon-size(md);
  }
  &.icon--lg {
    @include btn.icon-size(lg);
  }
}

//types
#{$btn},
#{$icon-btn} {
  &.btn--primary {
    @include btn.btn-primary;
  }
  &.btn--accent {
    @include btn.btn-accent;
  }
  &.btn--normal {
    @include btn.btn-normal;
  }
  &.btn--disabled {
    @include btn.btn-disabled;
  }
}

#{$icon} {
  &.icon--primary {
    @include btn.icon-primary;
  }
  &.icon--accent {
    @include btn.icon-accent;
  }
  &.icon--normal {
    @include btn.icon-normal;
  }
  &.icon--white {
    @include btn.icon-white;
  }
}
