@use '../abstracts/variables.scss' as *;

.surface {
  background-color: white;
  padding: 1.78rem;
  border-radius: 0.71rem;
}

.points {
  background-color: $base-darker;
  padding: 0.143rem 0.429rem;
  font-size: 0.857rem;
  color: $font-dark;
  margin-left: 0.71rem;
}

.stepper {
  text-align: right;
  font-size: 0.71rem;
  line-height: 1.3;
  margin-bottom: 0.43rem;
}

.element-header {
  background-color: $base-2;

  &-container {
    display: flex;
    align-items: center;

    gap: clamp(0.5rem, 1vw, 0.75rem);
    padding: clamp(0.5rem, 1.5vw, 0.75rem) clamp(1rem, 3vw, 1.5rem);

    .element-number {
      background-color: $accent-1;
      min-width: fit-content;
      color: white;
      padding: 2px 6px;
      font-weight: 600;
    }
  }
}

.question-header {
  display: flex;
  gap: 0.71rem;
  align-items: center;

  .element-number {
    font-weight: 600;
    padding: 2px 6px;
    background-color: inherit;
    color: inherit;
  }
}

.answers-container {
  display: flex;
  flex-direction: column;
  padding: 0.71rem 1.42rem 0.71rem 3.57rem;
}

@media (max-width: map-get($breakpoints, tablet)) {
  .answers-container {
    padding: 0.71rem 1.42rem 0.71rem 1.57rem;
    gap: 0.2rem;
    line-height: 1.5;
  }
}

.single-answer-container {
  display: flex;
  align-items: center;
  padding: 0.71rem 1.42rem 0.71rem 3.57rem;


}

.cursor-pointer {
  cursor: pointer;
}

.background-white {
  background-color: white;
}
