@use '../abstracts/variables.scss' as *;

.surface {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

.points {
  background-color: $base-darker;
  padding: 2px 6px;
  font-size: 12px;
  color: $font-dark;
  margin-left: 10px;
}

.stepper {
  text-align: right;
  font-size: 10px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.element-header {
  background-color: $base-2;

  &-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

    .element-number {
      background-color: $accent-1;
      color: white;
      padding: 2px 6px;
      font-weight: 600;
    }
  }
}

.question-header {
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  align-items: center;

  .element-number {
    font-weight: 600;
    padding: 2px 6px;
    background-color: inherit;
    color: inherit;
  }
}
